.articleContainer {
    margin: 50px auto;
    width: 80%;
}

.articlesNavContainer {
    padding-top: 80px;
    display: flex;
}

.titleArticleContainer {
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.articleTitle {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}

.articleShortDescription {
    font-family: 'sans-serif';
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
}

.titleHr {
    width: 20%;
    height: 1px;
    background-color: #00702D;
}

.separation {
    width: 1px;
    background-color: #00702D;
}