.paragraphTitle {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
}

.paragraph {
    font-family: 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
